<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



</head>



<body>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Stock</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>



           <tr th:each="producto:${productos}">
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.categoria}"></td>
                <td th:text="${producto.stock}"></td>
                <td th:text="${producto.precio}"></td>
                <td>



               </td>
                <form action="#" th:action="@{/productos/buscarUno/{id}(id=${producto.id})}" th:object="${producto}"
                        th:method="GET">
                        <input type="submit" value="Editar">
                    </form>
                </td>



           </tr>
        </tbody>
    </table>
</body>



</html>